replicaCount: 1

service:
  type: ClusterIP
  port: 9898

ingress:
  enabled: true
  className: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
  hosts:
    - host: test.theblacklodge.dev
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts: [test.theblacklodge.dev]
      # if using cert-manager, drop secretName and add issuer annotations instead
      secretName: podinfo-tls
