version: "3.9"

services:
  npm:
    image: jc21/nginx-proxy-manager:latest
    labels:
      com.centurylinklabs.watchtower.enable: "true"
    restart: unless-stopped
    ports:
      - "80:80"     # HTTP
      - "443:443"   # HTTPS
      - "81:81"     # NPM admin UI
    networks:
      - proxy
    volumes:
      - npm_data:/data
      - npm_letsencrypt:/etc/letsencrypt
    environment:
      # optional: set a known timezone
      - TZ=America/Denver

networks:
  proxy:
    external: true

volumes:
  npm_data:
    external: true
  npm_letsencrypt:
    external: true
