---
# Media storage PVC for all media apps
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-storage
  namespace: apps
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-media
  resources:
    requests:
      storage: 1Ti

