---
# Simple test pod to verify NFS connectivity
apiVersion: v1
kind: Pod
metadata:
  name: nfs-test
  namespace: default
spec:
  containers:
  - name: nfs-test
    image: alpine:latest
    command: ["/bin/sh"]
    args: ["-c", "apk add --no-cache nfs-utils && echo 'Testing NFS connection...' && showmount -e 192.168.1.131 && echo 'NFS exports found!' && sleep 3600"]
    volumeMounts:
    - name: nfs-test-volume
      mountPath: /mnt/test
  volumes:
  - name: nfs-test-volume
    nfs:
      server: 192.168.1.131
      path: /volume1/infrastructure
  restartPolicy: Never
