apiVersion: v1
kind: Service
metadata:
  name: {{ include "nessie.fullname" . }}
  labels:
    {{- include "nessie.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 19120
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "nessie.selectorLabels" . | nindent 4 }}
