# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets & tfvars
*secrets*
*.tfvars
!terraform.example.tfvars

# Ansible
*.retry
*.logs
ansible/.artifacts

# Editor/OS
.vscode/
.DS_Store

# Python
.venv/
__pycache__/
galaxy.lock