# k8s/n8n/values.yaml
n8n:
  image:
    repository: n8nio/n8n
    pullPolicy: IfNotPresent
    tag: "" # use chart default appVersion
  ingress:
    enabled: true
    className: "traefik"
    annotations:
      kubernetes.io/ingress.class: "traefik"
      cert-manager.io/cluster-issuer: "letsencrypt-dns"
    hosts:
      - host: n8n.theblacklodge.dev
        paths:
          - "/" # chart supports simple list of paths
    tls:
      - hosts:
          - n8n.theblacklodge.dev
        secretName: n8n-tls
