version: "3.9"

networks:
  proxy:
    external: true
  iot:

services:
  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: homeassistant
    networks: [proxy, iot]
    volumes:
      - /mnt/media/Configs/homeassistant:/config
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.ha.rule=Host(`ha.${DOMAIN}`)
      - traefik.http.routers.ha.entrypoints=websecure
      - traefik.http.routers.ha.tls.certresolver=letsencrypt
      - traefik.http.services.ha.loadbalancer.server.port=8123

  mosquitto:
    image: eclipse-mosquitto
    container_name: mosquitto
    networks: [iot]
    volumes:
      - /mnt/media/Configs/mosquitto:/mosquitto/data

  nodered:
    image: nodered/node-red
    container_name: nodered
    networks: [proxy, iot]
    volumes:
      - /mnt/media/Configs/nodered:/data
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.nodered.rule=Host(`flow.${DOMAIN}`)
      - traefik.http.routers.nodered.entrypoints=websecure
      - traefik.http.routers.nodered.tls.certresolver=letsencrypt
      - traefik.http.services.nodered.loadbalancer.server.port=1880
