image:
  repository: projectnessie/nessie
  tag: "0.74.0"
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  port: 19120

ingress:
  enabled: true
  className: traefik
  annotations:
    kubernetes.io/ingress.class: traefik
    cert-manager.io/cluster-issuer: letsencrypt-dns
  hosts:
    - host: nessie.theblacklodge.dev
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: nessie-tls
      hosts:
        - nessie.theblacklodge.dev

resources:
  requests:
    memory: 512Mi
    cpu: 250m
  limits:
    memory: 1Gi
    cpu: 500m

postgresql:
  enabled: true
  auth:
    postgresPassword: nessie
    database: nessie
  primary:
    persistence:
      size: 20Gi

env:
  QUARKUS_DATASOURCE_JDBC_URL: "jdbc:postgresql://nessie-postgresql:5432/nessie"
  QUARKUS_DATASOURCE_USERNAME: "postgres"
  NESSIE_VERSION_STORE_TYPE: "JDBC"

