# Service.yaml
apiVersion: v1
kind: Service
metadata:
  name: homepage
  namespace: default
spec:
  selector:
    app.kubernetes.io/name: homepage   # <-- match Deployment
  ports:
    - port: 80
      targetPort: 3000
