env:
  HOMEPAGE_ALLOWED_HOSTS: "home.theblacklodge.dev, localhost"

ingress:
  main:
    enabled: true
    ingressClassName: traefik
    hosts:
      - host: home.theblacklodge.dev
        paths:
          - path: /
            pathType: Prefix
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
    tls:
      - hosts: ["home.theblacklodge.dev"]
        secretName: homepage-tls
