apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: lidarr
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://media-servarr.shw.al/charts
    chart: lidarr
    targetRevision: 0.4.0  # chart version
    helm:
      values: |
        env:
          PUID: 1000
          PGID: 1000
          TZ: America/Denver

        ingress:
          main:
            enabled: true
            ingressClassName: traefik
            hosts:
              - host: lidarr.theblacklodge.dev
                paths:
                  - path: /
                    pathType: Prefix
  destination:
    server: "https://kubernetes.default.svc"
    namespace: media
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
