apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argo-cd
  namespace: kube-system
spec:
  repo: https://argoproj.github.io/argo-helm
  chart: argo-cd
  targetNamespace: argocd
  createNamespace: true
  version: 7.6.12
  set:
    server.insecure: "true"
    configs.params.server.insecure: "true"
    configs.cm.url: "https://argo.theblacklodge.dev"
