# traefik-override.yaml
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |
    ports:
      web:
        redirectTo: websecure
      websecure:
        tls:
          enabled: true

    entryPoints:
      web:
        address: ":80"
      websecure:
        address: ":443"
        forwardedHeaders:
          insecure: true
          # or use trustedIPs instead of insecure:true
          # trustedIPs:
          #   - 10.42.0.0/16   # k3s pod CIDR
          #   - 10.43.0.0/16   # k3s service CIDR
