---
- name: Update Debian/Ubuntu hosts
  hosts: apt_hosts          # NEW: only the apt-capable hosts
  become: true              # NEW: force sudo at play level
  become_method: sudo
  gather_facts: true

  tasks:
    - name: Update and upgrade apt packages
      ansible.builtin.apt:
        update_cache: yes
        upgrade: dist
        autoremove: yes
