{{- if .Values.postgresql.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "superset.fullname" . }}-postgresql
  labels:
    {{- include "superset.labels" . | nindent 4 }}
    component: postgresql
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "superset.selectorLabels" . | nindent 6 }}
      component: postgresql
  template:
    metadata:
      labels:
        {{- include "superset.selectorLabels" . | nindent 8 }}
        component: postgresql
    spec:
      containers:
        - name: postgresql
          image: postgres:13
          env:
            - name: POSTGRES_DB
              value: {{ .Values.postgresql.auth.database | quote }}
            - name: POSTGRES_USER
              value: {{ .Values.postgresql.auth.username | quote }}
            - name: POSTGRES_PASSWORD
              value: {{ .Values.postgresql.auth.postgresPassword | quote }}
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: postgresql-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgresql-data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "superset.fullname" . }}-postgresql
  labels:
    {{- include "superset.labels" . | nindent 4 }}
    component: postgresql
spec:
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    {{- include "superset.selectorLabels" . | nindent 4 }}
    component: postgresql
{{- end }}
