apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mlflow.fullname" . }}
  labels:
    {{- include "mlflow.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "mlflow.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "mlflow.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["mlflow"]
          args: 
            - "server"
            - "--backend-store-uri"
            - "postgresql://{{ .Values.postgresql.auth.username }}:{{ .Values.postgresql.auth.postgresPassword }}@{{ include "mlflow.fullname" . }}-postgresql:5432/{{ .Values.postgresql.auth.database }}"
            - "--default-artifact-root"
            - "s3://{{ .Values.minio.bucket }}"
            - "--host"
            - "0.0.0.0"
            - "--port"
            - "5000"
          ports:
            - name: http
              containerPort: 5000
              protocol: TCP
          env:
            - name: MLFLOW_S3_ENDPOINT_URL
              value: "http://minio.datalake.svc.cluster.local:9000"
            - name: AWS_ACCESS_KEY_ID
              value: {{ .Values.minio.accessKey | quote }}
            - name: AWS_SECRET_ACCESS_KEY
              value: {{ .Values.minio.secretKey | quote }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
