argo-cd:
  global:
    domain: argo.theblacklodge.dev
  
  server:
    ingress:
      enabled: true
      ingressClassName: traefik
      annotations:
        kubernetes.io/ingress.class: traefik
        cert-manager.io/cluster-issuer: letsencrypt-dns
        traefik.ingress.kubernetes.io/router.tls: "true"
      hosts:
        - argo.theblacklodge.dev
      tls:
        - secretName: argocd-server-tls
          hosts:
            - argo.theblacklodge.dev
    
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 512Mi
        cpu: 500m
  
  controller:
    resources:
      requests:
        memory: 512Mi
        cpu: 250m
      limits:
        memory: 1Gi
        cpu: 1000m
  
  repoServer:
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 512Mi
        cpu: 500m
  
  applicationSet:
    resources:
      requests:
        memory: 128Mi
        cpu: 50m
      limits:
        memory: 256Mi
        cpu: 200m
  
  redis:
    resources:
      requests:
        memory: 128Mi
        cpu: 50m
      limits:
        memory: 256Mi
        cpu: 200m
  
  configs:
    params:
      server.insecure: true
    cm:
      url: https://argo.theblacklodge.dev
      admin.enabled: true

