version: "3.9"

networks:
  proxy:
    external: true

services:
  # --- Media server & companions ---
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    networks: [proxy]
    ports:
      - 32400:32400
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Denver
      - VERSION=docker
      - ADVERTISE_IP=https://plex.${DOMAIN},http://192.168.1.26:32400
      - PLEX_CLAIM=${PLEX_CLAIM}   # <- only for FIRST boot, then remove
    volumes:
      - /opt/appdata/plex:/config
      - /mnt/nas/media/Movies:/movies
      - /mnt/nas/media/TV:/tv
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr
    networks: [proxy]
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Denver
    volumes:
      - /opt/appdata/radarr:/config
      - /mnt/nas/media/Downloads:/downloads
      - /mnt/nas/media/Movies:/movies
    restart: unless-stopped

  overseerr:
    image: lscr.io/linuxserver/overseerr:develop
    container_name: overseerr
    networks: [proxy]
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Denver
    volumes:
      - /opt/appdata/overseerr:/config
    ports:
      - "5055:5055"
      - "5055:5055/udp"
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr
    container_name: sonarr
    networks: [proxy]
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Denver
    volumes:
      - /opt/appdata/sonarr:/config
      - /mnt/nas/media/Downloads:/downloads
      - /mnt/nas/media/TV:/tv
    restart: unless-stopped

  lidarr:
    image: lscr.io/linuxserver/lidarr
    container_name: lidarr
    networks: [proxy]
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Denver
    volumes:
      - /opt/appdata/lidarr:/config
      - /mnt/nas/media/Downloads:/downloads
      - /mnt/nas/media/Music:/music
    restart: unless-stopped

  bazarr:
    image: lscr.io/linuxserver/bazarr
    container_name: bazarr
    networks: [proxy]
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Denver
    volumes:
      - /opt/appdata/bazarr:/config
      - /mnt/nas/media/Movies:/movies
      - /mnt/nas/media/TV:/tv
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr
    container_name: prowlarr
    networks: [proxy]
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Denver
    volumes:
      - /opt/appdata/prowlarr:/config
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent
    container_name: qbittorrent
    networks: [proxy]
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Denver
      - WEBUI_PORT=8080
    volumes:
      - /opt/appdata/qbittorrent:/config
      - /mnt/nas/media/Downloads:/downloads
    ports:
      - "6881:6881"
      - "6881:6881/udp"
    restart: unless-stopped